name: Build and Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [users-service, orders-service, gateway-api, web-app]
        include:
          - service: users-service
            dockerfile: docker/Dockerfile.users
            context: .
          - service: orders-service
            dockerfile: docker/Dockerfile.orders
            context: .
          - service: gateway-api
            dockerfile: docker/Dockerfile.gateway
            context: .
          - service: web-app
            dockerfile: docker/Dockerfile.frontend
            context: .

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ${{ matrix.context }}
        file: ${{ matrix.dockerfile }}
        push: true
        tags: |
           ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
           ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ github.sha }}
